body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background: black;
    color: white;
}

#hora {
    font-size: 3rem;
}

#data {
    font-size: 20px;
}

.emoji {
    font-size: 4rem;
}

footer {
    color: yellow;
}